<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header style="background-color:rgb(32, 116, 226)">
    <ion-card-title></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form #formulario="ngForm" (keyup.enter)="Enviar()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre: </ion-label>
          <ion-input type="text" placeholder="Digite su nombre.." 
                    name="nombre" [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido: </ion-label>
          <ion-input type="text" placeholder="Digite su apellido.."
                    name="apellido" [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email: </ion-label>
          <ion-input type="email" placeholder="Digite su email.."
                    name="email" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña: </ion-label>
          <ion-input type="password" placeholder="Digite su password.."
                   name="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Selecciona tu cargo academico" [multiple]="true">
            <ion-select-option value="docente">Docente</ion-select-option>
            <ion-select-option value="alumno">Alumno</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button (click)="Enviar()" expand="block" fill="solid" color="success" shape="round" routerLink="/inicio">
        Enviar
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>

</ion-content>
